
.product-box{
    overflow: hidden;
        &:hover .hover-btn{
            display: block;
        z-index: 25;
        // background: lightgray;
        // bottom:0;
        // border-radius: 5px;
        // color:black;
        // font-weight: 500;
        // border:1px solid black;
        }
}

.product-image{
    z-index: 0;
    &:hover {
        transform: scale(1.15);
        transform-origin: var(50% 50%);
        transition:transform 0.5s;
    }
}

.hover-btn{
    display: none;
    // z-index: 2;
    // background: lightgray;
    // padding: 10px 16px;
    // border-radius: 5px;
    // color:black;
    // font-weight: 500;
    // border:1px solid black;
}